Repository stapi-spec/stapi-fastapi: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mypy, pymarkdown, check-toml, check-yaml

ruff:
  name: Format and lint with ruff
  entry: ./bin/run-ruff.bash
  language: system
  pass_filenames: false
  verbose: true

mypy:
  name: Check typing with mypy
  entry: ./bin/run-mypy.bash
  language: system
  pass_filenames: false
  verbose: true

pymarkdown:
  name: Markdownlint
  description: Run markdownlint on Markdown files
  entry: pymarkdown scan
  language: python

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

release prep for v0.6.0 (#142)
  CHANGELOG.md
Due: pymarkdown

update poetry dependencies to be >= rather than caret
  poetry.lock
  pyproject.toml
Due: check-toml

add method POST to create-order link
  CHANGELOG.md
  tests/conftest.py
  tests/test_opportunity.py
  tests/test_opportunity_async.py
  tests/test_product.py
Due: ruff, mypy, pymarkdown

Update build and deps (#143)
  .pre-commit-config.yaml
  adrs/constraints.md
  bin/run-mypy.bash
  bin/run-ruff.bash
  poetry.lock
  pyproject.toml
  src/stapi_fastapi/backends/product_backend.py
  src/stapi_fastapi/backends/root_backend.py
  src/stapi_fastapi/models/order.py
  src/stapi_fastapi/types/json_schema_model.py
  tests/shared.py
  tests/test_datetime_interval.py
Due: ruff, mypy, pymarkdown, check-toml, check-yaml

extract route names to contants
  CONTRIBUTING.md
  src/stapi_fastapi/routers/product_router.py
  src/stapi_fastapi/routers/root_router.py
  src/stapi_fastapi/routers/route_names.py
Due: ruff, mypy, pymarkdown

changelog
  CHANGELOG.md
Due: pymarkdown

add method to product router
  src/stapi_fastapi/routers/product_router.py
Due: ruff, mypy

organize route names
  src/stapi_fastapi/routers/route_names.py
Due: ruff, mypy

extract route names to constants (#146)
  CHANGELOG.md
  CONTRIBUTING.md
  src/stapi_fastapi/routers/product_router.py
  src/stapi_fastapi/routers/root_router.py
  src/stapi_fastapi/routers/route_names.py
Due: ruff, mypy, pymarkdown

add method POST to create-order link (#145)
  CHANGELOG.md
  src/stapi_fastapi/routers/product_router.py
  tests/conftest.py
  tests/test_opportunity.py
  tests/test_opportunity_async.py
  tests/test_product.py
Due: ruff, mypy, pymarkdown

docs: add note about archive
  README.md
Due: pymarkdown

docs: add note about archive (#150)
  README.md
Due: pymarkdown

Path conditions:
  ruff: any of: \.py$
  mypy: any of: \.py$
  pymarkdown: any of: \.(md|mdown|markdown)$, but not: ^.github/pull_request_template.md$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
